<footer>
	<section class="navigation">
		<a href="/"><img src="/static/images/icons/home.svg" alt="Home icon"></a>
		<a href="/feed"><img src="/static/images/icons/list.svg" alt="Feed icon"></a>
		<a href="/chat"><img src="/static/images/icons/chat.svg" alt="Chat icon"></a>
		<a href="/profile"><img src="/static/images/icons/account.svg" alt="Profile icon"></a>
	</section>
</footer>