<main class="chat">
    <section>
        <h2>WORK IN PROGRESS.</h2>
        <h3>COMING SOON</h3>
        <p>We're still working on this page, please come back soon.</p>
        <button><a href="/">Go back home</a></button>
    </section>
</main>