<main class="feed">
    <section>
        <h2>Posts</h2>
    </section>
    {{#each userposts}}
    <section class="posts">
        <img src="/static/images/icons/controller.svg" alt="">
        <div class="post">
            <h3>{{username}}</h3>
            <p>{{email}}</p>
            <p>{{description}}</p>
            <p>Need help in: {{game}}</p>
            <button><a href="/profile">Profile</a></button>
            <button><a href="/chat">Chat</a></button>
        </div>
    </section>
    {{/each}}
    <section>
        <button class="addUserPost"><a href="/userpost"><img src="/static/images/icons/plus.svg" alt=""></a></button>
    </section>
</main>