<main class="home">
	<section>
		<img src="/static/images/icons/controller.svg" alt="logo">
	</section>
	<section>
		<h1>Welcome to GaMerge</h1>
		<p>Need help or just looking for a gaming buddy?</p>
		<p>Sign up and get started!</p>
		<button><a href="/feed">Sign up</a></button>
	</section>
</main>