<main class="home">
    <section>
        <h2>Posts</h2>
    </section>
    <section class="posts">
        <img src="/static/images/test_pf.png" alt="">
        <div class="post">
            <h3>Mitchel Staal</h3>
            <p>Boss too difficult!</p>
            <p>Need help in Elden Ring</p>
        </div>
    </section>
    <section>
        <button>+</button>
    </section>
</main>