<main class="post">
    <section>
        <form action="">
            <label for=""></label>
            <input type="text" name="text" placeholder="First Name">

            <label for=""></label>
            <input type="text" name="" placeholder="Last Name">

            <label for=""></label>
            <input type="text" name="" placeholder="Type your post here..">

            <label for=""></label>
            <input type="text" name="" placeholder="Which game?">


        </form>
    </section>
</main>