<main class="profile">
    <section>
        <img src="/static/images/test_pf.png" alt="">
        <h2>Mitchel Staal</h2>
        <p>New to this app! Looking forward to meeting some new people.</p>
    </section>
</main>