<main class="profile">
    <section>
        <img src="" alt="">
        <h2>Mitchel Staal</h2>
        <div>
            <p>New to this app! Looking forward to meeting some new people.</p>
        </div>
    </section>
</main>