<main class="post">
    <section>
        <h2>Create a post</h2>
        <form action="/userpost" method="post">

            <label for="">First name: </label><br>
            <input type="text" name="firstname" placeholder="First Name" required><br>

            <label for="">Last name: </label><br>
            <input type="text" name="lastname" placeholder="Last Name" required><br>

            <label for="">Description: </label><br>
            <input type="text" name="description" placeholder="Description.." required><br>

            <label for="">Game: </label><br>
            <input type="text" name="game" placeholder="Game.." required><br>

            <input type="submit" value="Post request">

        </form>
    </section>
</main>