<main class="userpost">
    <section>
        <div class="header">
            <h2>Create a post</h2>
        </div>

        <form class="form" action="/userpost" method="post">
            <div class="input">
                <label for="">Username: </label><br>
                <input id="username" type="text" name="username" placeholder="Username"><br>
            </div>

            <div class="input">
                <label for="">Email: </label><br>
                <input id="email" type="email" name="email" placeholder="Email"><br>
            </div>

            <div class="input">
                <label for="">Description: </label><br>
                <input id="description" type="text" name="description" placeholder="Description.."><br>
            </div>

            <div class="input">
                <label for="">Game: </label><br>
                <select name="game" id="game">
                    <option value="Elden Ring">Elden Ring</option>
                    <option value="Elden Ring">Elden Ring</option>
                    <option value="Elden Ring">Elden Ring</option>
                    <option value="Elden Ring">Elden Ring</option>
                </select>
            </div>
            <label id="error"></label>
            <input type="submit" value="Post request">

        </form>
    </section>
</main>